@import './variables.css';

html, body, div, a, article, section, main, footer, header, form, fieldset, pre,
code, p, ul, ol, li, dl, dt, dd, textarea, input[type="email"],
input[type="number"], input[type="password"], input[type="tel"],
input[type="text"], input[type="url"], .border-box { box-sizing: border-box; }

* {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
}

html {
  font-size: 67%;

  @media (min-width: 375px) {
    font-size: 75%;
  }

  @media (min-width: 768px) {
    font-size: 100%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #EDF0F5;
}

a {
  text-decoration: none;
}

.root {
  height: 100%;
}

div[data-reactroot] {
  height: 100%;
}
