@import './global.css';
@import './variables.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  min-height: 100%;

  @media (--sm) {
    max-width: 760px;
  }

  @media (--md) {
    width: 960px;
    max-width: 100%;
  }

  @media (--lg) {
    width: 1220px;
  }
}

.clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
