@custom-media --sm (width >= 480px);
@custom-media --md (width >= 980px);
@custom-media --lg (width >= 1260px);
@custom-media --xs-only (width < 480px);
@custom-media --sm-only (width >= 480px) and (width < 980px);
@custom-media --md-only (width >= 980px) and (width < 1260px);
@custom-media --lg-only (width >= 1260px);

:root {
  --main-color: #303F9F;
  --red: #E64A19;
  --green: #4CAF50;
  --orange: #FFA000;
  --alice-blue: #EDF0F5;
  --gray: #6A6C6F;
  --dark-gray: #282828;
  --gutter-small: 20px;
  --gutter-large: 40px;
}
