.clearfix {
  clear: both;
}

.homeView {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
  height: auto;
}

.blue {
  color: #3f51b5;
}

.red {
  color: #e64a19;
}

.green {
  color: #4caf50;
}

.orange {
  color: #ffa000;
}

.bgblue {
  background-color: #3f51b5;
}

.bgred {
  background-color: #e64a19;
}

.bggreen {
  background-color: #4caf50;
}

.bgorange {
  background-color: #ffa000;
}

.icon1 {
  width: 25px;
  height: 25px;
  background: url('./icons/icon1.png') no-repeat;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    width: 50px;
    height: 50px;
    background: url('./icons/icon1@2x.png') no-repeat;
  }
}

.icon2 {
  width: 25px;
  height: 25px;
  background: url('./icons/icon2.png') no-repeat;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    width: 50px;
    height: 50px;
    background: url('./icons/icon2@2x.png') no-repeat;
  }
}

.icon3 {
  width: 20px;
  height: 25px;
  background: url('./icons/icon3.png') no-repeat;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    width: 40px;
    height: 50px;
    background: url('./icons/icon3@2x.png') no-repeat;
  }
}

.icon4 {
  width: 20px;
  height: 25px;
  background: url('./icons/icon4.png') no-repeat;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    width: 40px;
    height: 50px;
    background: url('./icons/icon4@2x.png') no-repeat;
  }
}

.chart {
  width: 24px;
  height: 9px;
  margin-top: 10px;
  margin-right: 10px;
  background: url('./icons/chart.png') no-repeat;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    width: 48px;
    height: 18px;
    background: url('./icons/chart.png') no-repeat;
  }
}
