@import '../../styles/variables.css';

.footer {
  width: 90%;
  padding: 0;
  margin: var(--gutter-large) auto 0 auto;
  clear: both;
}

.footer > ul {
  width: 95%;
  padding: 0;
  border-top: 1px solid #c8d3e6;
}

.footer > ul > li {
  display: inline-block;
  padding-right: var(--gutter-small);
  padding-top: var(--gutter-large);
}

.lastItem {
  float: right;
}

.icon {
  color: #6A6C6F;
  padding-left: 5px;
}
