@import '../../styles/variables.css';

.container {
  width: 90%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 110px;
  float: left;
  background-color: #303F9F;
}

.leftSide {
  float: left;
  width: 25%;
  padding-left: var(--gutter-small);
}

.rightSide {
  float: left;
  width: 75%;
  height: 100%;
  line-height: 110px;
  padding-left: var(--gutter-large);
  background-color: #3F51B5;
}

.logo {
  display: inline-block;
}

.head {
  float: left;
}

.title {
  color: #C5CAE9;
  font-weight: normal;
  padding-left: 10px;
}

.menu {
  float: right;
}

.icon {
  color: #FFF;
  margin-left: 20px;
  cursor: pointer;
}

.icon:hover {
  opacity: 0.5;
}
