@import '../../styles/variables.css';

.container {
  margin: 0 auto;
  min-height: 100%;
  height: 100%;
}

.sidebar {
  width: 25%;
  min-height: 100%;
  background-color: #FFF;
  float: left;
}

.main {
  width: 75%;
  float: left;
  padding-top: var(--gutter-small);
}
