@import '../../styles/variables.css';

.userCard {
  display: table;
  width: 100%;
  height: 150px;
  padding: var(--gutter-small);
  background-color: #FFF;
  border-bottom: 1px solid #EDF0F5;
}

.row {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

.left {
  float: left;
  width: 70px;
}

.photo {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.right {
  float: left;
  padding-left: var(--gutter-small);
  margin-top: 15px;
}

.name {
  font-size: 16px;
  font-weight: bold;
  color: #6A6C6F;
}

.title {
  line-height: 1.8;
  color: #6a6c6f;
}

.icon {
  color: #6A6C6F;
  padding-left: 5px;
}
