@import '../../styles/variables.css';

.box {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 120px;
  background-color: #FFF;
  border: 1px solid #D7E0F1;
  padding: var(--gutter-large);
  margin-bottom: var(--gutter-small);
  float: left;
}

.left {
  float: left;
}

.title {
  font-weight: normal;
}

.subTitle {
  font-weight: normal;
}

.count {
  font-weight: bold;
  font-size: 33px;
}

.right {
  float: right;
}
