@import '../../styles/variables.css';

.navigation {

}

.navigation ul {
  padding: 0;
  border-bottom: 1px solid #edf0f5;
  margin-bottom: var(--gutter-small);
}

.navigation ul:last-child {
  margin-bottom: 0;
}

.navItem {
  padding: var(--gutter-small);
  list-style: none;
  color: #6a6c6f;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.navItem:hover {
  background-color: #f5f7f9;
}

.iconWrap {
  display: inline-block;
  width: 25px;
  padding-right: 5px;
}

.icon {
  color: #6a6c6f;
}

.red {
  background-color: #e64a19;
}

.green {
  background-color: #4caf50;
}

.blue {
  background-color: #3f51b5;
}

.count {
  display: inline-block;
  border-radius: 2px;
  float: right;
  text-align: center;
  line-height: 20px;
  width: 20px;
  height: 20px;
  color: #FFF;
}
