@import '../../styles/variables.css';

.box {
  position: relative;
  width: 20.3%;
  height: 139px;
  background-color: #FFF;
  border: 1px solid #D7E0F1;
  padding: var(--gutter-small);
  margin-bottom: var(--gutter-small);
  float: left;
}

.row {
  height: 88px;
}

.left {
  float: left;
  height: inherit;
}

.right {
  float: right;
  height: inherit;
}

.icon {
  display: inline-block;
  margin-top: 10px;
}

.title {
  font-weight: normal;
}

.bottom {
  position: absolute;
  width: 100%;
  height: 30px;
  margin-left: -20px;
  padding-left: var(--gutter-small);
  line-height: 30px;
}

.label {
  font-size: 12px;
  color: #FFF;
  float: left;
}

.chart {
  float: right;
}
